# Frontend API Configuration
# The URL to the backend API
# In development: http://localhost:8000/api or http://localhost:8000
# In production: /api (same origin) or http://your-domain.com/api
VITE_API_URL=/api

# Umami analytics (optional)
VITE_UMAMI_ENABLED=true
VITE_UMAMI_SCRIPT_URL=https://umami.tomansion.fr/script.js
VITE_UMAMI_WEBSITE_ID=11416e3b-5432-45fb-808a-13a43b50d261
VITE_UMAMI_HOST_URL=dailybildi.tomansion.fr
VITE_UMAMI_DO_NOT_TRACK=true
VITE_UMAMI_EXCLUDE_SEARCH=true
VITE_UMAMI_EXCLUDE_HASH=true
VITE_UMAMI_TRACK_PERFORMANCE=true
